.mail-preview {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

.mail-preview .from-mail h1 {
  font-size: 1.2em;
  font-weight: bolder;
  color: var(--bold-clr);
}

.mail-preview .mail-body .mail-subject {
  margin-inline-end: 10px;
  color: var(--bold-clr);
}

.mail-preview .mail-body .mail-txt {
  color: var(--mailBodyTxt-clr);
}

.mail-preview .date-mail {
  color: var(--bold-clr);
  justify-self: end;
  padding-right: 10px;
}

.mail-preview .mail-actions {
  display: flex;
  align-items: center;
  justify-self: end;
  padding-right: 10px;
}

.mail-preview .mail-actions button {
  cursor: pointer;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  font-size: 1.5em;
}

.mail-preview .mail-actions .dltMail-btn {
  font-size: 2em;
}

.mail-preview .star-mail button {
  cursor: pointer;
  border: none;
  background-color: Transparent;
  background-repeat: no-repeat;
  color: var(--mailBodyTxt-clr);
  background-color: none;
  font-size: 2em;
}

.mail-preview .star-mail i {
  color: var(--star-clr);
}

.mail-read-bg {
  background-color: var(--mailRead-bg-clr);
}
