.mail-folder {
  grid-row: 2;
  background-color: var(--bg-color);
}

.mail-folder .mail-folderBy {
  display: flex;
  flex-direction: column;
}

.mail-folder .mail-folderBy .box {
  background-color: rgb(236, 236, 236);
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 8px 10px;
  font-size: 1.15em;
  border-radius: 10px;
  margin-bottom: 10px;
  transition: all 0.5s;
}

.mail-folder .mail-folderBy .box:hover {
  background-color: rgb(221, 221, 221);
}

.mail-folder .mail-folderBy .count {
  margin-left: auto;
  font-weight: bold;
}
