.mail-list-main-layout {
  /* display: grid; */
  /* grid-template-columns: 100px 1fr 100px; */
}

.mail-preview-layout {
  display: grid;
  grid-template-columns: 100px 250px 1fr 150px;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
